:root {
    --text-color: rgba(67, 67, 67, 1);
}

body {
    margin: 0px;
    color: var(--text-color);
}

#bg-image {
    background-image: url("images/image1.png");
    background-repeat: no-repeat !important;
    background-position: left !important;
    background-size: cover !important;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 747px;
}

.form{
    margin: auto !important;
    padding-bottom: 44px;
    width: 42%;
    background-color: #fff;
    border-radius: 18px;
}

.logo {
    margin-top: 28px;
    padding-top: 77px;
    display: grid;
    place-items: center !important;
}

.heading {
    display: grid;
    place-items: center !important;
    color: var(--text-color);
    font-weight: 700 !important;
    font-size: 30px !important;
    font-style: normal;
    letter-spacing: -0.02em;
}

.heading h5 {
   font-family: 'Open Sans', sans-serif;
   margin-top: 45px;
   margin-bottom: 9px;
}

.text {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    place-items: center !important;
    line-height: 50px;
    color: #ACACAC;
    font-weight: 500 bold;
    font-size: 18px;
}

.palceholder-container {
    padding-top: 34px;
    display: grid;
    place-items: center !important;
    
}

.palceholder-container .lable {
    line-height: 38px !important;
    font-family: 'Lato', sans-serif; 
    display: flex;
    justify-content: flex-start !important;
    width: 75%;
}

input[type=text], input[type=phone] {
    width: 76%;
    height: 50px;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.forgot-pass {
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
    line-height: 18px;
    letter-spacing: 0.01em;
    display: grid;
    justify-content: right;
    width: 88%;
}

.forgot-pass a {
    text-decoration: none !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    color: #715DEA;
}

.btn {
    display: grid;
    place-items: center !important;
    margin-bottom: 0px !important;
    padding-top: 20px;
}

.submit-btn {
    width: 76%;
    height: 60px;
    left: 740px;
    background: #6E41C0;
    font-size: 18px ;
    border: 2px solid #E0E7FA;
    font-family: 'Lato', sans-serif;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.btn .submit-btn a {
    text-decoration: none !important;
    color: #fff;
    cursor: pointer;
}
